body {
  background-color: blue;
}
h1 {
  color: white;
  size: 24px;
}
h3 {
  border: 3px solid white;
}
section {
  background-color: white;
  padding: 10px;
}
footer {
  border: 3px solid blue;
  margin: 20px;
}
.zapatos {
  background-color: burlywood;
  padding: 3rem;
}
/* Inicia Modo lighten y darken */
.zapato {
  background-color: #160b0b;
  color: #ddff00;
  color: #ebff66;
  padding: 40px;
}
/*Finaliza modo lighten y darken*/
/*Inicia creación de cols for each*/
.col-1 {
  height: 60px;
  background-color: #0a0a0a;
}
.col-2 {
  height: 120px;
  background-color: #141414;
}
.col-3 {
  height: 180px;
  background-color: #1e1e1e;
}
.col-4 {
  height: 240px;
  background-color: #282828;
}
/*Finaliza creación de cols for each*/
.suela {
  background-color: yellow;
  font-size: 2rem;
  color: blue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
footer .zapato {
  border: 14px solid orange;
  margin: 2rem;
}
footer .zapato .cordones {
  font-size: 24px;
}
footer .zapato1 .cordones .cordon2 {
  background-color: red;
}
footer .zapato2 .cordones .cordon4 {
  background-color: violet;
}
footer .suela {
  background-color: pink;
  font-size: 2rem;
  color: blue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
footer .suela:hover {
  border: 3px dashed black;
  background-color: green;
  font-size: 2rem;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
footer .suela:after {
  content: "After party";
  background-color: green;
  font-size: 2rem;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100px;
  height: 100px;
  position: absolute;
}
